img{
  width: 500px;
  height: 400px;
}
h1{
  border: 3px solid black;
}
h3{
  border: 3px solid black;
}
body{
  background-color: orange;
  font-family: "Sans-serif", Arial;
}
#facts{
  width: 300px
}
li{
  text-align: left;
}
.button{
  border: 1px dashed black;
  padding: 3px;
  background-color: grey;
  color: black;
  box-shadow: 3px 3px;
  border-radius:100px;
  text-decoration:none;
  
}